Repository react-native-village/react-native-init, pull requests merged in 2023-01, with the labels that each got.

#138 feat(server) setup jest, eslint, hardhat, solidity, walletconnect, shimming
  .DS_Store
  Joker/android/app/src/main/AndroidManifest.xml
  Joker/graphql.config.ts
  Joker/ios/Joker.xcodeproj/project.pbxproj
  Joker/ios/Joker.xcodeproj/xcshareddata/xcschemes/Joker.xcscheme
  Joker/ios/Podfile.lock
  Joker/package.json
  Joker/patches/react-native-os+1.2.7.patch
  Joker/shim.js
  Joker/src/app-with-providers.tsx
  Joker/src/components/lottie/lottie-wrap.tsx
  Joker/src/env.d.ts
  Joker/src/generated/graphql-github.ts
  Joker/src/graphql/github/RepoCardsRequest.graphql
  Joker/src/graphql/github/index.ts
  Joker/src/graphql/lens/index.ts
  Joker/src/screens/tab-screen4.tsx
  Joker/yarn.lock
  joker-moralis-server/.eslintrc.json
  joker-moralis-server/.gitignore
  joker-moralis-server/.prettierrc
  joker-moralis-server/babel.config.js
  joker-moralis-server/hardhat.config.ts
  joker-moralis-server/jest.config.ts
  joker-moralis-server/package.json
  joker-moralis-server/src/contracts/Token.sol
  joker-moralis-server/src/contracts/tests/Token.test.ts
  joker-moralis-server/src/dapp.ts
  joker-moralis-server/src/hardhat/build-info/bf8a4f792ed39942d77bf30ba12ac45b.json
  joker-moralis-server/src/hardhat/contracts/Token.sol/Token.dbg.json
  joker-moralis-server/src/hardhat/contracts/Token.sol/Token.json
  joker-moralis-server/src/request/getDemoData.ts
  joker-moralis-server/src/request/index.ts
  joker-moralis-server/src/typechain-types/StandardContract.ts
  joker-moralis-server/src/typechain-types/Token.ts
  joker-moralis-server/src/typechain-types/common.ts
  joker-moralis-server/src/typechain-types/factories/StandardContract__factory.ts
  joker-moralis-server/src/typechain-types/factories/Token__factory.ts
  joker-moralis-server/src/typechain-types/factories/index.ts
  joker-moralis-server/src/typechain-types/hardhat.d.ts
  joker-moralis-server/src/typechain-types/index.ts
  joker-moralis-server/tsconfig.json
  joker-moralis-server/yarn.lock
Labels: blockchain

#144 feat(icon): app icon android and ios
  Joker/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  Joker/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  Joker/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  Joker/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  Joker/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  Joker/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  Joker/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  Joker/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  Joker/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  Joker/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  Joker/ios/Joker.xcodeproj/project.pbxproj
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Contents.json
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@3x 1.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Logo Rect 1.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Logo Rect 2.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Logo Rect 3.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Logo Rect 4.png
  Joker/ios/Joker/Images.xcassets/AppIcon.appiconset/Logo Rect.png
Labels: native, design

#146 feat(screens): screens flow and one issue query
  Joker/graphql.config.ts
  Joker/src/app.tsx
  Joker/src/components/Auth/Auth.tsx
  Joker/src/components/Auth/index.tsx
  Joker/src/components/AuthSuccess/AuthSuccess.tsx
  Joker/src/components/AuthSuccess/index.tsx
  Joker/src/components/Welcome/Welcome.tsx
  Joker/src/components/Welcome/index.tsx
  Joker/src/components/lottie/index.tsx
  Joker/src/components/ui/CenteredView.tsx
  Joker/src/components/ui/index.ts
  Joker/src/generated/graphql-github.ts
  Joker/src/graphql/github/Issues.graphql
  Joker/src/graphql/github/IssuesList.graphql
  Joker/src/screens/Auth.tsx
  Joker/src/screens/AuthSuccess.tsx
  Joker/src/screens/HomeTaskExplorer.tsx
  Joker/src/screens/Welcome.tsx
  Joker/src/screens/first-screen.tsx
  Joker/src/screens/home.tsx
  Joker/src/screens/modals.tsx
  Joker/src/screens/tab-screen4.tsx
  Joker/src/screens/tab-screen5.tsx
  Joker/src/services/github-auth.ts
  Joker/src/types.ts
Labels: api

#150 feat(storybook): run on device
  Joker/.env.example
  Joker/.gitignore
  Joker/.ondevice/Storybook.tsx
  Joker/.ondevice/main.js
  Joker/.storybook/Storybook.tsx
  Joker/.storybook/main.js
  Joker/.storybook/preview.js
  Joker/.storybook/storybook.requires.js
  Joker/StorybookApp.tsx
  Joker/android/app/build.gradle
  Joker/android/app/src/main/java/com/joker/MainApplication.java
  Joker/default-index.js
  Joker/ios/Joker.xcodeproj/xcshareddata/xcschemes/Joker.xcscheme
  Joker/ios/Joker/AppDelegate.mm
  Joker/ios/Podfile
  Joker/ios/Podfile.lock
  Joker/metro.config.js
  Joker/package.json
  Joker/src/components/ui/text/text.stories.tsx
  Joker/src/components/ui/text/text.tsx
  Joker/src/env.d.ts
  Joker/src/hooks/index.ts
  Joker/src/hooks/useAndroidStatusBarAnimation.tsx
  Joker/src/hooks/useGithubPagination.tsx
  Joker/src/hooks/useTheme.tsx
  Joker/src/hooks/useThemeObject.ts
  Joker/src/hooks/useTypedNavigation.ts
  Joker/src/hooks/useTypedRoute.ts
  Joker/src/services/github-auth.ts
  Joker/storybook-index.js
  Joker/yarn.lock
Labels: logic, no-QA

#149 feat(themes): improve the theme mechanism
  Joker/.env.example
  Joker/ios/Joker.xcodeproj/xcshareddata/xcschemes/Joker.xcscheme
  Joker/src/app.tsx
  Joker/src/colors.ts
  Joker/src/components/Auth/Auth.tsx
  Joker/src/components/AuthSuccess/AuthSuccess.tsx
  Joker/src/components/CreateTaskComplete/CreateTaskComplete.tsx
  Joker/src/components/CreateTaskConfirmation/CreateTaskConfirmation.tsx
  Joker/src/components/CreateTaskIssueSelect/CreateTaskIssueSelect.tsx
  Joker/src/components/CreateTaskIssueSelect/IssueItem.tsx
  Joker/src/components/CreateTaskRepoSelect/CreateTaskRepoSelect.tsx
  Joker/src/components/CreateTaskRepoSelect/RepoItem.tsx
  Joker/src/components/HomeTaskExplorer/HomeTaskExplorer.tsx
  Joker/src/components/HomeTaskExplorer/index.tsx
  Joker/src/components/Welcome/Welcome.tsx
  Joker/src/components/actions-sheet/index.android.tsx
  Joker/src/components/bottom-popup-container.tsx
  Joker/src/components/bottom-sheet.tsx
  Joker/src/components/home-screen-title.tsx
  Joker/src/components/modals/loading.tsx
  Joker/src/components/popup-header.tsx
  Joker/src/components/ui/Background.tsx
  Joker/src/components/ui/button/button.tsx
  Joker/src/components/ui/checkbox.tsx
  Joker/src/components/ui/custom-header/custom-header.tsx
  Joker/src/components/ui/custom-header/header-button.tsx
  Joker/src/components/ui/icon.tsx
  Joker/src/components/ui/index.ts
  Joker/src/components/ui/menu-navigation-button.tsx
  Joker/src/components/ui/progress-line.tsx
  Joker/src/components/ui/text-field.tsx
  Joker/src/components/ui/text/error-text.tsx
  Joker/src/components/ui/text/text.tsx
  Joker/src/components/ui/waiting.tsx
  Joker/src/contexts/ThemeContext.tsx
  Joker/src/env.d.ts
  Joker/src/helpers/createTheme.ts
  Joker/src/helpers/index.ts
  Joker/src/hooks/index.ts
  Joker/src/hooks/useThematicStyles.ts
  Joker/src/screens/CreateTaskIssueSelect.tsx
  Joker/src/screens/CreateTaskRepoSelect.tsx
  Joker/src/screens/HomeProfile.tsx
  Joker/src/screens/HomeSettings.tsx
  Joker/src/screens/HomeTaskExplorer.tsx
  Joker/src/screens/home.tsx
  Joker/src/themeTypes.ts
  Joker/src/themes.ts
  Joker/src/types.ts
  Joker/src/variables.ts
  Joker/storybook-static/favicon.ico
  Joker/storybook-static/project.json
  joker-moralis-server/hardhat.config.ts
Labels: components, screens, design

#151 Add new fonts
  Joker/android/app/src/main/assets/fonts/3270.ttf
  Joker/android/app/src/main/assets/fonts/edit-undo-line.ttf
  Joker/android/link-assets-manifest.json
  Joker/assets/fonts/3270.ttf
  Joker/assets/fonts/edit-undo-line.ttf
  Joker/ios/Joker.xcodeproj/project.pbxproj
  Joker/ios/Joker/Info.plist
  Joker/ios/link-assets-manifest.json
  Joker/package.json
  Joker/src/app.tsx
  Joker/src/components/Welcome/Welcome.tsx
  Joker/src/components/ui/button/button.tsx
  Joker/src/components/ui/text/text.tsx
  Joker/src/screens/TestsNft.tsx
  Joker/src/themeTypes.ts
Labels: components

#152 base layout
  Joker/src/components/Auth/Auth.tsx
  Joker/src/components/Welcome/SelectButton.tsx
  Joker/src/components/Welcome/Welcome.tsx
  Joker/src/components/ui/Background.tsx
  Joker/src/components/ui/BlockMessage.tsx
  Joker/src/components/ui/Checkmark.tsx
  Joker/src/components/ui/index.ts
  Joker/src/components/ui/svg-icons.tsx
  Joker/src/components/ui/svg.tsx
  Joker/src/components/ui/text/text.tsx
  Joker/src/screens/Welcome.tsx
  Joker/src/themeTypes.ts
  Joker/src/themes.ts
Labels: components, design

#158 move components from unicorn
  Joker/android/app/src/main/assets/fonts/KLMN_Flash_Pix.ttf
  Joker/android/link-assets-manifest.json
  Joker/assets/fonts/KLMN_Flash_Pix.ttf
  Joker/ios/Joker.xcodeproj/project.pbxproj
  Joker/ios/Joker/Info.plist
  Joker/ios/Podfile.lock
  Joker/ios/link-assets-manifest.json
  Joker/package.json
  Joker/src/components/HomeTaskExplorer/HomeTaskExplorer.tsx
  Joker/src/components/Welcome/Welcome.tsx
  Joker/src/components/avatar.tsx
  Joker/src/components/loading.tsx
  Joker/src/components/tab-bar.tsx
  Joker/src/components/ui/BlockMessage.tsx
  Joker/src/components/ui/ButtonPlus/images/PlusB.png
  Joker/src/components/ui/ButtonPlus/images/PlusW.png
  Joker/src/components/ui/ButtonPlus/index.tsx
  Joker/src/components/ui/card-border.tsx
  Joker/src/components/ui/index.ts
  Joker/src/components/ui/svg.tsx
  Joker/src/components/ui/text/text.tsx
  Joker/src/hooks/useThemeObject.ts
  Joker/src/screens/home.tsx
  Joker/src/themeTypes.ts
  Joker/src/themes.ts
  Joker/yarn.lock
Labels: components

#160 feat(animations): Profile screen
  Joker/android/app/src/main/java/com/joker/MainActivity.java
  Joker/android/app/src/main/java/com/joker/MainApplication.java
  Joker/ios/Joker/AppDelegate.mm
  Joker/ios/Podfile.lock
  Joker/package.json
  Joker/src/app.tsx
  Joker/src/components/Auth/Auth.tsx
  Joker/src/components/Profile/Profile.tsx
  Joker/src/components/tab-bar.tsx
  Joker/src/components/ui/ButtonPlus/index.tsx
  Joker/src/components/ui/custom-header/custom-header.tsx
  Joker/src/components/ui/custom-header/header-button.tsx
  Joker/src/components/ui/svg.tsx
  Joker/src/screens/Profile.tsx
  Joker/src/themeTypes.ts
  Joker/src/themes.ts
  Joker/yarn.lock
Labels: screens, design
